-catItem = {}

-catItem.red		= []
-catItem.red.title		= 'Шар красный'
-catItem.red.src			= 'img/baloon--red.jpg'
-catItem.red.alt			= 'Красный шарик'
-catItem.red.price		= '100 руб'
-catItem.red.href			= 'baloon.html'

-catItem.green		= []
-catItem.green.title		= 'Шар зеленый'
-catItem.green.src		= 'img/baloon--green.jpg'
-catItem.green.alt		= 'Зеленый шарик'
-catItem.green.price		= '100 руб'
-catItem.green.href		= 'baloon.html'

-catItem.purpur	= []
-catItem.purpur.title	= 'Шар фиолетовый'
-catItem.purpur.src		= 'img/baloon--purpur.jpg'
-catItem.purpur.alt		= 'Фиолетовый шарик'
-catItem.purpur.price	= '100 руб'
-catItem.purpur.href		= 'baloon.html'

-catItem.blue		= []
-catItem.blue.title		= 'Шар синий'
-catItem.blue.src			= 'img/baloon--blue.jpg'
-catItem.blue.alt			= 'Синий шарик'
-catItem.blue.price		= '100 руб'
-catItem.blue.href		= 'baloon.html'

mixin catalog-items()
	each val in catItem
		.col-xs-6.col-sm-4.col-lg-3
			.catalog-item
				h3.catalog-item__title=val.title
				.catalog-item__face
					a.catalog-item__a(href=val.href)
						img.catalog-item__img(src=val.src, alt=val.alt)
				.catalog-item__counter
					span.catalog-item__minus
						span.catalog-item__button
					span.catalog-item__plus
						span.catalog-item__button
					input.catalog-item__input(type='text' placeholder='0' pattern='[0-9]{,3}' maxlength='3')
				p.catalog-item__footer
					span.catalog-item__price=val.price
					button.catalog-item__btn В корзину

+catalog-items()