-menu = {}

-menu.catalog		= []
-menu.catalog.title		= 'Каталог'
-menu.catalog.href		= 'index.html'
-menu.catalog.id			= 'catalog'

-menu.services		= []
-menu.services.title		= 'Услуги'
-menu.services.href		= '#'
-menu.services.id			= 'services'

-menu.portfolio	= []
-menu.portfolio.title	= 'Портфолио'
-menu.portfolio.href		= '#'
-menu.portfolio.id		= 'portfolio'

-menu.print			= []
-menu.print.title			= 'Заказ печати'
-menu.print.href			= 'print.html'
-menu.print.id				= 'print'

-menu.sheeping		= []
-menu.sheeping.title		= 'Доставка и оплата'
-menu.sheeping.href		= '#'
-menu.sheeping.id			= 'sheeping'

-menu.opt			= []
-menu.opt.title			= 'Оптовым клиентам'
-menu.opt.href				= '#'
-menu.opt.id				= 'opt'

-menu.order			= []
-menu.order.title			= 'Оформить заказ'
-menu.order.href			= '#'
-menu.order.id				= 'order'

mixin main-menu(block_name)
	ul(class=block_name+'__list')
		each val in menu
			if val['id'] === page_id
				li(class=block_name+'__item')
					a(class=block_name+'__a '+block_name+'__a--active' href=val.href)=val.title
			else
				li(class=block_name+'__item')
					a(class=block_name+'__a ' href=val.href)=val.title

nav.navigation
	.navigation__background
	.navigation__btn#collapseBtn
		span.navigation__strip
		span.navigation__strip
		span.navigation__strip
	.navigation__menu#collapseMenu
		+main-menu('navigation')